
h1,h2,h3,h4,h5,h6{
    font-family: lato, sans-serif;
}


body {
    
  width:100%;
  background-color: black;
    font-family: 'Lato', sans-serif;
 
}
.customNav{
   
        position: fixed;
        width: 100%;
        background-color: black;
        z-index: 10;
     
}


h3{
  color: red;
  font-weight: 200;
}

.d-inline-block{
  margin-left: 4rem;
}


.navbar-nav {
    margin-left: auto;
    margin-right: 10% !important;
  }

.navbar-brand img {
    padding-right: 15px;
    width: 65px;
    
  }

  .nav-item {
    margin: 0px 15px;
  }

  
.customNav a {
    color: white !important;
  }

.aboutMe{

    text-align:center;
    font-size: 2rem;
    padding:10rem, 0rem, 10rem,0rem;
    font-weight: 200;
    color: gray;
    line-height:70px;
    vertical-align: middle;
} 
p:first-child{
  margin-top:0;
}
p{
    margin-top: 5rem;
}
.main{
    background-color:black;
    width:80%;
    margin: 0rem auto;
    padding-top: 10rem ;
    padding-left: 4rem;
    padding-right: 4rem;
}
 
 p.artWork{
   font-size: 4rem;
   margin-top:8rem;
   text-align: center;
   font-weight: 400;
   color:white;
 }

 .carousel {
   padding: 3rem;
   margin:auto;
   margin-bottom:10rem;
 }

 .artwork_sub{
   text-align: center;
   margin-bottom: 5rem;
   
 }